@value regularBlack, regularWhite, lightMint, regularMint, lightGray from '../common/colors.css';

.container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: lightGray;
  transition: 0.3s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5vw;
  padding-left: 10vw;

  z-index: 100;
}

.hide {
  transform: translate3d(-100vw, 0, 0);
}

.show {
  transform: translate3d(-5vw, 0, 0);
  overflow: hidden;
}

/* header */

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3rem;
}

.profileArea {
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile {
  padding: 0;
}

.info {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

.email {
  font-size: 0.3rem;
}

.nickname {
  font-size: 1.3rem;
  font-weight: 700;
}

.backBtn {
  padding: 0;
  height: 1.2rem;
  cursor: pointer;
}

/* tickets */
.tickets {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.subtitle {
  width: 100%;
  text-align: start;
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.more {
  padding: 0;
  width: 17rem;
  cursor: pointer;
  background-color: lightMint;
  border: none;
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
  font-size: 0.7rem;
}

.more:hover {
  background-color: regularMint;
  color: regularWhite;
}
