@value regularBlack, regularWhite, lightMint, regularMint from '../common/colors.css';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
}

.menubar {
  width: 1.5rem;
  height: 1.2rem;
}

.countries {
  text-align: center;
}

.memo {
  padding-left: 2em;
  padding-right: 2em;
  color: regularBlack;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.startButton {
  width: 17rem;
  cursor: pointer;
  background-color: lightMint;
  color: regularBlack;
  border: none;
  padding: 0.7rem;
  border-radius: 30px;
  transition: 0.2s ease-in-out;
  margin-top: 4.5em;
}

.startButton:hover {
  background-color: regularMint;
  color: regularWhite;
}
