@value regularBlack, regularWhite, lightMint, regularMint from '../common/colors.css';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
}

.menubar {
  width: 1.5rem;
  height: 1.2rem;
}

.countries {
  text-align: center;
}

.memo {
  padding-left: 2em;
  padding-right: 2em;
  color: regularBlack;
}

.startbutton {
  text-align: center;
  padding-top: 35px;
}
